name: Launch EC2 Instance

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Manually trigger workflow

jobs:
  launch-ec2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Launch EC2 Instance
        run: |
          aws ec2 run-instances \
            --image-id ami-007f35e81392786a4 \
            --instance-type t3.micro \
            --key-name hp \
            --security-groups default \
            --count 1 \
            --tag-specifications 'ResourceType=instance,Tags=[{Key=Name,Value=Github-Action-Instance}]'
